/* Enter your custom styles here */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
.vertical-layout {
    background-image: url("../images/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0.9;
}

.title-style {
    color: #000000;
    font-family: none !important;
    font-weight: 800;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #ffffff !important;
    opacity: none !important;
    background: rgb(14, 38, 100, 0.6) !important;
}

.form-text {
    color: #ffffff !important;
    font-weight: 200;
}

.sapMInputBaseContentWrapper {
    width: 100%;
    background: transparent !important;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    color: #ffffff;
}

.form-button {
    width: 200px !important;
}

.sapMInputBaseInner {
    color: #ffffff;
}

.sapMFlexItemAlignAuto .sapMFlexBoxBGTransparent .sapMFlexItem {
    width: 7% !important;
    padding-right: 8px !important;
}

.otp-button {
    margin-left: -80px !important;
    width: 200px;
}

.title-style {
    color: #339933 !important;
}

.refresh-warning {
    color: #992600 !important;
}

.otp-info {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif !important;
}

.extra {
    margin-top: 170px;
}

.OTPinput .sapMInputBaseInner {
    color: #000000 !important;
}